<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gpg-start.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>23DB17B9-E22F-4FC8-B63A-4F53694A3419</key>
		<array/>
		<key>2C4B5E02-4FFA-4FD9-B0FD-8182EF6D8C80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23DB17B9-E22F-4FC8-B63A-4F53694A3419</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8425E14D-E8C5-48A2-BB3C-3EE2ECE51710</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA6FD64F-4F2A-4A65-A97A-3B1DFEA95018</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E7229F0-4EFD-49BE-9581-738451237C50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8425E14D-E8C5-48A2-BB3C-3EE2ECE51710</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B54E6C45-EFE8-4FDA-8168-B796BC15679A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E7229F0-4EFD-49BE-9581-738451237C50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA6FD64F-4F2A-4A65-A97A-3B1DFEA95018</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C4B5E02-4FFA-4FD9-B0FD-8182EF6D8C80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEEDC305-9B89-4C33-A385-9FEE66FFD77A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C4B5E02-4FFA-4FD9-B0FD-8182EF6D8C80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Miroslav Shubernetskiy</string>
	<key>description</key>
	<string>start and stop gpg agent</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gpg</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gpgstart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Start GPG Agent</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EEEDC305-9B89-4C33-A385-9FEE66FFD77A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>GPG Agent Started</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>23DB17B9-E22F-4FC8-B63A-4F53694A3419</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

if [ -z "$(pgrep gpg-agent)" ]; then
	gpg-agent --homedir $HOME/.gnupg --use-standard-socket --daemon
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C4B5E02-4FFA-4FD9-B0FD-8182EF6D8C80</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

if [ -n "$(pgrep gpg-agent)" ]; then
	gpgconf --kill gpg-agent
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E7229F0-4EFD-49BE-9581-738451237C50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gpgkill</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Kill GPG Agent</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B54E6C45-EFE8-4FDA-8168-B796BC15679A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>GPG Agent Killed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8425E14D-E8C5-48A2-BB3C-3EE2ECE51710</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>20</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>DA6FD64F-4F2A-4A65-A97A-3B1DFEA95018</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>23DB17B9-E22F-4FC8-B63A-4F53694A3419</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>2C4B5E02-4FFA-4FD9-B0FD-8182EF6D8C80</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>8425E14D-E8C5-48A2-BB3C-3EE2ECE51710</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>8E7229F0-4EFD-49BE-9581-738451237C50</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>B54E6C45-EFE8-4FDA-8168-B796BC15679A</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>DA6FD64F-4F2A-4A65-A97A-3B1DFEA95018</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>EEEDC305-9B89-4C33-A385-9FEE66FFD77A</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
